.all-words-container {
  padding: 20px;
  width: 70%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.lesson-selector-container {
  margin-bottom: 20px;
  text-align: center;
}

.lesson-selector {
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 10px;
  border: 2px solid #e5e5e5;
  background-color: white;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007AFF%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.6-3.6%205.4-7.9%205.4-12.9%200-5-1.8-9.2-5.4-12.7z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-position: right 10px top 50%;
  background-size: .65em auto;
  padding-right: 30px;
  box-shadow: 0 2px 0 #e5e5e5, 0 4px 0 rgba(0,0,0,0.05);
  transition: all 0.1s ease-in-out;
}

.lesson-selector:hover {
  border-color: #1cb0f6;
}

.lesson-selector:focus {
  outline: none;
  border-color: #1cb0f6;
  box-shadow: 0 0 0 3px rgba(28, 176, 246, 0.3);
}

.lesson-selector:active {
    box-shadow: 0 1px 0 #e5e5e5;
    transform: translateY(2px);
}

.all-words-list-container {
  max-height: 70vh;
  overflow-y: auto;
  max-width: 800px;
  margin: 0 auto;
}

.lesson-header {
  position: sticky;
  top: 0;
  background-color: white;
  padding: 10px;
  font-size: 1.2em;
  font-weight: bold;
  color: #1cb0f6;
  z-index: 1;
  border-bottom: 2px solid #e5e5e5;
}

.word-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20%;
  border-bottom: 1px solid #f0f0f0;
  transition: background-color 0.3s;
  width: 100%;
}

.word-item:hover {
  background-color: #f9f9f9;
}

.word-info {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.japanese-word {
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
}

.chinese-meaning {
  font-size: 1.1em;
  color: #555;
}

.word-details {
  flex-shrink: 0;
  text-align: right;
  padding-left: 20px;
}

.word-type {
  font-size: 0.9em;
  color: #888;
}

.reading {
  font-size: 1em;
  color: #777;
}

.ant-list-item {
  padding: 0 !important;
}

.all-words-container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2em;
  color: #333;
}